@inherits LayoutComponentBase
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<div>
    <div style="position: sticky; top: 0; z-index: 1000;">
        <NavMenu />
    </div>


    <div class="page">
        <main>
            <article class="content px-4">
                @Body
            </article>
        </div>
    </div>
</div>

@code {
    private string PageTitle => GetPageTitle();

    private string GetPageTitle()
    {
        var uri = NavigationManager.Uri.ToLower();
        if (uri.Contains("/feed"))
            return "Feed";
        if (uri.Contains("/lokationer"))
            return "Lokationer";
        if (uri.Contains("/statistik"))
            return "Statistik";
        if (uri.Contains("/begivenheder"))
            return "Begivenheder";
        
        @*Replace or delte after dev is done  *@
            if (uri.Contains("/account/login"))
            return "Log in";
        
        
            
            return "Home";
    }
}
