@inherits LayoutComponentBase
<div class="container">
    <NavMenu />
    <div class="row">
        <div class="col-12">
            <article class="content px-4">
                @Body
            </article>
        </div>
    </div>
</div>