@inherits LayoutComponentBase
<div class="container">
    <NavMenu />
    <div class="row">
        <div class="col-12">
            <article class="content px-4">
                @Body
                @* Required *@
                <MudThemeProvider />
                <MudPopoverProvider />

                @* Needed for dialogs *@
                <MudDialogProvider />

                @* Needed for snackbars *@
                <MudSnackbarProvider />
            </article>
        </div>
    </div>
</div>