@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar-container">
    <div class="navbar-header">
        <a class="navbar-brand" href="">Lystfisker Portalen</a>
        <input type="checkbox" title="Navigation menu" class="navbar-toggler" />
    </div>

    <div class="navbar-menu">

        <div class="nav-links-left">
            <NavLink class="nav-link" href="/feed">
                Feed
            </NavLink>
            <NavLink class="nav-link" href="/lokationer">
                Lokationer
            </NavLink>
            <NavLink class="nav-link" href="/statistik">
                Statistik
            </NavLink>
            <NavLink class="nav-link" href="/begivenheder">
                Begivenheder
            </NavLink>
        </div>

        <div class="nav-links-right">
            <AuthorizeView>
                <Authorized>
                    <a class="nav-link" href="Identity/Account/Manage">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </a>
                    <form action="Identity/Account/Logout" method="post" class="logout-form">
                        <button type="submit" class="nav-link btn-link">Logout</button>
                        <input name="__RequestVerificationToken" type="hidden" />
                    </form>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="Identity/Account/Register">
                        Register
                    </NavLink>
                    <NavLink class="nav-link" href="Identity/Account/Login">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</nav>

@code {
}