@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar-container">
    <div class="navbar-header">
        <a class="navbar-brand" href="">Lystfisker Portalen</a>
        <input type="checkbox" title="Navigation menu" class="navbar-toggler" />
    </div>

    <div class="navbar-menu">

        <div class="nav-links-left">
            <NavLink class="nav-link" href="/">
                Feed
            </NavLink>
            <NavLink class="nav-link" href="/locations">
                Lokationer
            </NavLink>
            <NavLink class="nav-link" href="/statistics">
                Statistik
            </NavLink>
            <NavLink class="nav-link" href="/event">
                Begivenheder
            </NavLink>
        </div>

        <div class="nav-links-right">
            <AuthorizeView>
                <Authorized>
                    <a class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </a>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />

                        <input type="hidden" name="ReturnUrl" value="" />

                        <button type="submit" class="nav-link btn-link">
                            <span class="bi bi-arrow-bar-right-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="/Account/Register">
                        Register
                    </NavLink>
                    <NavLink class="nav-link" href="/Account/Login">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</nav>

@code {
}