@page "/Login"
@using Microsoft.AspNetCore.Components.Forms

<h3>Velcommen til LystfiskerPortalen</h3>

<div>
    <p>
        Her kan du logge ind for at få adgang til dine personlige fiskedata og funktioner.
        Vænligst intast dine loginoplysninger nedenfor for at fortsætte. 
    </p>
    <br />
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-content-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <EditForm Model="profile" FormName="login" OnValidSubmit="HandleLogin">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            
                            <div>
                                <label for="Username">Brugernavn</label>
                                <InputText id="Username" @bind-Value="profile.Username" class="form-control" />
                                <ValidationMessage For="@(() => profile.Username)" />
                            </div>
                            <br />
                            <div>
                                <label for="Password">Adgangskode</label>
                                <InputText id="Password" @bind-Value="profile.Password" type="password" class="form-control" />
                                <ValidationMessage For="@(() => profile.Password)" />
                            </div>
                            <br />
                            <div>
                                <button type="submit" class="btn btn-primary">Log ind</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private LystfiskerPortalen.ClassLibrary.Profile profile = new LystfiskerPortalen.ClassLibrary.Profile();

    private async Task HandleLogin()
    {
        // TODO: Implement login logic
        Console.WriteLine($"Login attempt: {profile.Username}");
        // Add your authentication logic here
    }
}
