@using LystfiskerPortalen.Models
@using LystfiskerPortalen.Persistence
@using LystfiskerPortalen.Services
@using Microsoft.AspNetCore.Identity

@rendermode InteractiveServer

@inject ImageService ImageService
@inject AuthenticationStateProvider AuthState
@inject UserManager<Profile> UserManager
@inject IPostRepository PostRepository

<div class="modal fade" id="catchModal" tabindex="-1" role="dialog" aria-labelledby="catchModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="catchModalLabel">Opret Fangst</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="mb-2">
                            <ProfileComponent />
                        </div>

                        
                        <div class="form-group">
                            <textarea 
                                class="form-control" 
                                @bind="description"
                                placeholder="Fortæl os om din fangst...">
                        </textarea>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="fishSpecies">Hvilken fisk har du fanget?</label>
                                    <input type="text" @bind="selectedFishSpecies" class="form-control" />
       
                                </div>

                                <div class="form-group">
                                    <label>Hvor meget vejer fisken?</label>
                                    <input type="number" @bind="fishWeight" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label>Hvilke blink anvendte du?</label>
                                    <input type="text" class="form-control" @bind="selectedLure" />
                                </div>

                                <div class="form-group" style="margin-bottom:20px;">
                                    <label for="catchDate">Dato på fangst</label>
                                    <input type="date" id="catchDate" class="form-control" @bind="catchDate" />
                                </div>
                            </div>

                            <div class="col-sm">

                                <div class="form-group">
                                    <label for="fishLength">Hvor lang er fisken?</label>
                                    <input type="number" @bind="fishLength" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label for="fishingTechniques">Hvilken teknik anvendte du?</label>
                                    <input type="text" id="fishingTechniques" class="form-control" @bind="selectedFishingTechnique" />
                                </div>

                                <div class="form-group">
                                    <label for="timeCaught">Hvornår på dagen fangede du fisken?</label>
                                    <input type="text" id="timeCaught" class="form-control" @bind="timeCaught" />
                                </div>

                            </div>
                        </div>
            
                        <PostAddonsComponent OnLocationForwarded="GetLocation" />
                    </div>
                </div>


            </div>

            <div class="modal-footer">
                <PostCreateButton OnPostCreated="CreateCatchPost"/>
            </div>
        </div>
    </div>
</div>

@code {
    public void GetLocation((double lat, double lon) location)
    {
        latitude = location.lat;
        longitude = location.lon;
    }
    public async Task CreateCatchPost(string userId)
    {
        var authState = await AuthState.GetAuthenticationStateAsync();
        var user = authState.User;
        var currentUser = await UserManager.GetUserAsync(user);

        var catchPost = new Catch
        {
            PostTime = DateTime.UtcNow,
            Description = description,

            Location = new Location
            {
                Name = "Location Name", //Før dette linje kunne vi f.eks. kalde en geokodningsservice for at få et rigtigt navn
                Latitude = latitude ?? 0.0,
                Longitude = longitude ?? 0.0,
            },

            ProfileId = userId,
            Pictures = ImageService.GetPictures(),

            Fish = new Fish
            {
                Name = selectedFishSpecies,
                Weight = fishWeight,
                Length = fishLength
            },

            CatchTime = catchDate,
            Technique = selectedFishingTechnique,
            Lure = selectedLure
            
        };
        PostRepository.Add(catchPost);
    }

    #region Slet
    private string description { get; set; } = string.Empty;
    private string catchPost { get; set; } = string.Empty;
    private List<string> fishSpecies = new List<string> { "Fiskearter 1", "Fiskearter 2", "Fiskearter 3" };

    private double? latitude;
    private double? longitude;

    private string selectedFishSpecies { get; set; } = string.Empty;

    private List<string> fishingTechniques = new List<string> { "Teknik 1", "Teknik 2", "Teknik 3" };

    private string selectedFishingTechnique { get; set; } = string.Empty;

    private int fishWeight { get; set; } = 0;
    private int fishLength { get; set; } = 0;

    private string selectedLure { get; set; } = string.Empty;
    private List<string> lures = new List<string> { "Lure1", "Lure2", "Lure3" };
    private DateTime catchDate { get; set; } = DateTime.Now;
    private string timeCaught { get; set; } = string.Empty;
    private string equipment { get; set; } = string.Empty;

    #endregion
}