@using LystfiskerPortalen.Models
@using LystfiskerPortalen.Services
@rendermode InteractiveServer
@inject ImageService ImageService

   
    <!-- Hidden file input -->
    <InputFile id="fileInput" OnChange="@ImageHandler" multiple class="d-none" />

    <!-- Label styled as a button -->
    <label style="color:blue;" for="fileInput">
        <i class="bi bi-image"></i> 
    </label>
   

<div>
    @if (ImageService.GetPictures().Any())
    {
        foreach (var pic in ImageService.GetPictures())
        {
            <img src="@($"/Images/{pic.PictureName}")"
                 alt="@($"Uploaded image: {pic.PictureName}")"
                 style="max-width:200px; margin:5px;" />
        }
    }
</div>

@code {
    
    private async Task ImageHandler(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            if (!file.ContentType.StartsWith("image/")) return;

            var folder = Path.Combine("wwwroot", "Images");
            var fileName = $"{Guid.NewGuid()}_{file.Name}";
            var path = Path.Combine(folder, fileName);

            await using var fs = new FileStream(path, FileMode.Create);
            await file.OpenReadStream().CopyToAsync(fs);

            
            ImageService.AddImage(fileName);
        }
        StateHasChanged();
    }
}
