<h3>ImagePicker</h3>

<InputFile OnChange="LoadImage"></InputFile>



@code {
    [Parameter]
    public EventCallback<string> ImgName { get; set; }


    private async Task LoadImage(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (!file.ContentType.StartsWith("image/")) return; //Non-valid image file

        var fileName = $"{Guid.NewGuid()}_{file.Name}";

        var path = Path.Combine("wwwroot", "images", fileName);

        await using var fs = new FileStream(path, FileMode.Create);
        await file.OpenReadStream().CopyToAsync(fs);
        await ImgName.InvokeAsync(fileName);
        
 

    }
    
}
