@inject IGeolocationService GeolocationService
<div>
    <div>
        <button class="btn btn-primary mb-3" @onclick="LoadLocationAndMap">
            <i class="bi bi-geo-alt-fill"></i> Find min lokation
        </button>
        <p></p>
    </div>
    <RealTimeMap @ref="realTimeMap" height="400px" width="400px" Parameters="parameters" />
</div>

@code {
    [Parameter]
    public GeolocationPosition? currentPosition { get; set; }
    RealTimeMap? realTimeMap;

    RealTimeMap.LoadParameters parameters = new RealTimeMap.LoadParameters
    {
        location = new RealTimeMap.Location
        {
            // Default to center of Denmark
            latitude = 56.2639,
            longitude = 9.5018,
        },
        zoomLevel = 7
    };

    private async Task LoadLocationAndMap()
    {
        var options = new PositionOptions
        {
            EnableHighAccuracy = true,
            Timeout = 10000,
            MaximumAge = 0
        };

        await GeolocationService.GetCurrentPositionAsync(
        async position =>
        {
            currentPosition = position;

            if (realTimeMap != null)
            {
                parameters.location.latitude = currentPosition.Coords.Latitude;
                parameters.location.longitude = currentPosition.Coords.Longitude;
            }
            StateHasChanged();
        });
    }
}