@rendermode InteractiveServer
@inject IGeolocationService GeolocationService

<div class="mt-3">
    <button class="btn btn-primary mb-3" @onclick="LoadLocationAndMap">
        <i class="bi bi-geo-alt-fill"></i> Find min lokation
    </button>

    <RealTimeMap @ref="realTimeMap" height="400px" width="100%" Parameters="parameters"
        OnAfterMapLoaded="OnMapLoaded" />
</div>
@code {
    [Parameter]
    public EventCallback<(double, double)> OnLocationSelected { get; set; }
    RealTimeMap? realTimeMap;
    bool mapLoaded = false;
    Guid userMarkerId = Guid.NewGuid();

    RealTimeMap.LoadParameters parameters = new RealTimeMap.LoadParameters
    {
        location = new RealTimeMap.Location { latitude = 56.2639, longitude = 9.5018 },
        zoomLevel = 7
    };

    RealTimeMap.PointSymbol mySymbol = new RealTimeMap.PointSymbol
    {
        color = "black",
        fillColor = "red",
        radius = 12,
        weight = 2,
        opacity = 1,
        fillOpacity = 1
    };

    private void OnMapLoaded()
    {
        mapLoaded = true;
        realTimeMap.Geometric.Points.Appearance(_ => true).pattern = mySymbol;
    }

    private async Task LoadLocationAndMap()
    {
        var options = new PositionOptions
        {
            EnableHighAccuracy = false,
            Timeout = 5000,
            MaximumAge = 0
        };

        await GeolocationService.GetCurrentPositionAsync(
        async position =>
        {
            await InvokeAsync(() => OnLocationReceived(position));
        },
        async error =>
        {
            // Hvis man ikke har GPS, så er Odense vores default.
            var fallbackPosition = new GeolocationPosition
            {
                Coords = new GeolocationCoordinates
                {
                    Latitude = 55.3958,
                    Longitude = 10.3884,
                    Accuracy = 100
                },
            };

            await InvokeAsync(() => OnLocationReceived(fallbackPosition));
        },
        options
        );
    }

    private async Task OnLocationReceived(GeolocationPosition position)
    {
        if (realTimeMap != null)
        {
            double lat = position.Coords.Latitude;
            double lon = position.Coords.Longitude;

            realTimeMap.View.setCenter = new RealTimeMap.Location { latitude = lat, longitude = lon };
            realTimeMap.View.setZoomLevel = 15;

            var myPoint = new RealTimeMap.StreamPoint
            {
                guid = userMarkerId,
                latitude = lat,
                longitude = lon
            };
            await realTimeMap.Geometric.Points.add(myPoint);

            await OnLocationSelected.InvokeAsync((lat, lon));

            StateHasChanged();
        }
    }
}