@using LystfiskerPortalen.Models
@using Microsoft.AspNetCore.Identity
@inject NavigationManager navManager
@inject AuthenticationStateProvider AuthState
@inject UserManager<Profile> UserManager

@rendermode InteractiveServer
<AuthorizeView>
    <Authorized>
        <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" @onclick="() => CreatePost()"
                class="btn btn-primary w-100">Slå
                op</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary w-100" disabled>Log ind for at oprette opslag</button>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public EventCallback<string> OnPostCreated { get; set; }

    /* I Stedet for at oprette opslaget i dette komponent så lader vi forælderen håndtere det
    det gør det også nemmere at genbruge knappen */
    private async Task CreatePost()
    {
        var authState = await AuthState.GetAuthenticationStateAsync();
        var user = authState.User;
        var currentUser = await UserManager.GetUserAsync(user);

        if (currentUser != null)
        {
            await OnPostCreated.InvokeAsync(currentUser.Id);
        }
    }
}