<div class="modal-dialog modal-dialog-scrollable" id="staticBackdrop">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalScrollableTitle">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <textarea class="form-control" id="message-text" style="height: 156px;" placeholder="Opret et offentligt opslag"></textarea>
    </div>

</div>

@code {

}
