<div class="d-flex align-items-center " style="border-radius:6px; padding-left:12px; border: solid 1px; border-color: lightgrey;">
    <span>Føj noget til dit opslag</span>

    <div class="ms-auto d-flex">
        <button class="btn">
            <i class="bi bi-image"></i>
        </button>

        <button class="btn">
            <i class="bi bi-geo-alt"></i>
        </button>

        <button class="btn">
            <i class="bi bi-emoji-smile"></i>
        </button>
    </div>
</div>